{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block content %}
	{% if form.errors %}
		<p>Please provide correct credentials</p>
	{% endif %}

	{% if next %}
		<p>Please provide ur credentials to login</p>
	{% endif %}
	<div class="card">
		<form class="form-control" method="post" action={% url 'login' %}>
			{% csrf_token %}
			{{ form|crispy }}
			<input class="btn btn-primary" value="Login" type="submit">
			<input type="hidden" name="next" value="{{ next }}"/>
		</form>
	</div>
{% endblock %}
