{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block content %}
	<section class="card">
		<header class="card-header">
			<div class="page-header">
				<div class="row align-items-center">
					<div class="col">
						<div class="page-pretitle">Overview</div>
						<h2 class="page-title">Tasks</h2>
					</div>
				</div>
			</div>
		</header>

		<div class="card-body">
			<form method="get" class="row g-2 align-items-end">
				<div class="col-auto">
					{{ search_form.is_completed|as_crispy_field }}
				</div>
				<div class="col-auto mb-3">
					<button type="submit" class="btn btn-primary">Search</button>
				</div>
			</form>
		</div>

		<div class="table-responsive">
			<table class="table table-vcenter card-table">
				<thead>
				<tr>
					<th scope="col">Task</th>
					<th scope="col">Type</th>
					<th scope="col">Priority</th>
					<th scope="col">Assignees</th>
					<th scope="col">Deadline</th>
					<th scope="col">Status</th>
				</tr>
				</thead>

				<tbody>
				{% for task in task_list %}
					<tr>
						<th scope="row">{{ task.name }}</th>
						<td>{{ task.task_type }}</td>
						<td>{{ task.get_priority_display }}</td>

						<td>
							{% for worker in task.assignees.all %}
								{{ worker.username }}{% if not forloop.last %}, {% endif %}
							{% endfor %}
						</td>

						<td>{{ task.deadline|date:"d.m.Y H:i" }}</td>

						<td>
							{% if task.is_completed %}
								<span class="badge bg-success">Completed</span>
							{% else %}
								<span class="badge bg-secondary">Open</span>
							{% endif %}
						</td>
					</tr>
				{% empty %}
					<tr>
						<td colspan="6" class="text-center text-secondary">
							No tasks found.
						</td>
					</tr>
				{% endfor %}
				</tbody>
			</table>
		</div>
	</section>
{% endblock %}