{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block content %}
	<fieldset class="form-fieldset">
	<h1>{{ object|yesno:"Update, Create" }} {% if object %}{{ task.name }}{% else %}task{% endif %}</h1>
	<form action="" method="post">
		{% csrf_token %}
		{{ form|crispy }}
		{% if object %}
			<input class="btn btn-primary" type="submit" value="Update">
			{% else %}
			<input class="btn btn-primary" type="submit" value="Create">
		{% endif %}
			<a class="btn btn-danger" href="{% url 'task:task-list' %}">Cancel</a>
	</form>
	</fieldset>
{% endblock %}